.img2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
    padding: 20px;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    background-color: rgba(245, 235, 224, 1);
    -sizing: border-box;
  }