.title1 {
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 20px;
    font-weight: bold;
    text-align: center;
    color: #abc0a1dc;
  }
  
  .HomepageBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
    padding: 20px;
    box-sizing: border-box;
    background-image: url('../gallery/dbit.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    background-color: rgba(245, 235, 224, 1);
    -sizing: border-box;
  }

  .table {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
    font-size: 1.4rem;
    border-color: white;
    background-color: black;
  }

  h1 span{
    color: aliceblue;
  }